  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  html {
    scroll-behavior: smooth;
  }

  a {
    display: inline-block;
    background: transparent;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif ;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f0e181;
    padding: 30px;
    max-width: 1920px;
  }

  .nav-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-item {
    margin-left: 80px;
  }

  .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
  }

  a:hover {
    text-decoration: underline;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    min-width: 600px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0e181;
  }

  .hero-image {
    padding: 20px;
  }

  .hero-photo {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 250px;
    width: 100%;
    border-radius: 200px;
    border: 2px solid #f0e181;
    overflow: hidden;
  }

  .hero-name {
    flex-direction: column;
    justify-content: center;
  }

  .hero-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 25px;
  }

  .hero-name-sub {
    flex-direction: column;
  }

  .hero-subtitle {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
  }